*{
    margin: 0;
    padding: 0%;
    font-family:sans-serif;
}
.banner{
    width: 100%;
    height: auto; 
    background-image: url('../img/bg.png'); 
    background-size: cover; 
    background-position: center; 
    padding-bottom: 50px;
}
.navibar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Logo{
    width: 120px;
    cursor: pointer;
    
}
.navibar ul li{
    list-style: none;
    display: inline-block;
    margin:0 20px;
    position: relative;
}
.navibar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
.navibar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.7s;
}

.navibar ul li:hover:after{
   width: 100%;
}

.container {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-gap: 20px; 
}

.category-box {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.category-box:hover {
    transform: scale(1.05);
}

.category-title {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.category-list {
    display: none; /* Hide the list by default */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}


.category-box img{
    object-fit: cover;
    width: 600px;
    height: 400px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #000000;
    background: transparent;
    color: #000000;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
button:hover {
    border-color: rgb(255, 255, 255);
}

#logoutButton, #loginButton {
    background-color: #4ca3af; /* Green background */
    color: rgb(0, 0, 0); /* White text */
    border: none; /* No borders */
    padding: 10px 20px; /* Top-bottom and left-right padding */
    width: 100px;
    text-align: center;
    text-decoration: none; /* Removes underline */
    display: inline-block;
    font-size: 11px;
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

#logoutButton:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
    color: red;
}

#loginButton:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
}